node_modules/
dist/
.tsbuild/
*.vsix
*.tsbuildinfo
.DS_Store
coverage/
.env
.env.*
!.env.example
apps/vscode/bin/
.vscode-test/
apps/vscode/out/
apps/site/.svelte-kit/
apps/site/build/
apps/vscode/THIRD-PARTY-NOTICES.txt
apps/vscode/CHANGELOG.md
